.App {
  text-align: center;
  align-items: center;
  margin: auto;
  font-family: 'Optima';
}
.App-header {
  background-color: #dcedc9;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
  border: 3px solid green;
  position:relative;
  border-spacing: 30px;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
}

.App-border {
  background-color: #dcedc9;
  min-height: 1vh;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  border: 3px solid green;
  border-spacing: 30px;
}

.App-border2 {
  background-color: #dcedc9;
  min-height: 1vh;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  border: 3px solid green;
}
.App-border3 {
  background-color: #dcedc9;
  min-height: 1vh;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  border: 3px solid green;
}
.App-border4 {
  background-color: #dcedc9;
  min-height: 1vh;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  border: 3px solid green;
}
.App-border5 {
  background-color: #dcedc9;
  min-height: 1vh;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  border: 3px solid green;
}
.App-border6 {
  background-color: #dcedc9;
  min-height: 1vh;
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 3px solid green;
}

.App-box {
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.App-boxes {
  font-family: 'Optima';
  border: 2px solid green;
  border-radius: 25px;
  background-color: #dcedc9;
}

